body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    margin: 20px;
    font-size: 30px;
    font-family: 'Lucida Handwriting', cursive;
}

.container, .row{
    border: solid;
    border-width: 1px;
}

.container {
    display: flex;
    width: 900px;
    height: 900px;
}

.column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
}

.row {
    flex-grow: 1;
    flex-shrink: 1;
}

