body {
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    border: 1px solid;
}

.container {
    display: flex;
}

.column {
    flex: 1;
}

.row {
    padding: 20px;
    flex: 1;
}

