body {
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    border: 1px solid;
}

.container {
    display: flex;
    width: 960px;
    height: 960px;
}

.column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
}

.row {
    flex-grow: 1;
    flex-shrink: 1;
}

